FoodTag {
  display: flex;
  flex-direction: column;
}

.Title {
  font-size: 32px;
  color: white;
  text-shadow: 0px 0px 6px #ff6c0d;
  text-align: center;
}

.ProcessContainer {
  display: flex;
  flex-direction: column;
}

.ProcessText {
  display: inline-block;
  color: white;
  font-size: 18px;
  text-align: center;
  text-shadow: 0px 0px 5px rgba(13, 142, 255, 0.6);
}